body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: var(--padding-large);
}

.page-container {
  background-color: white;
  margin: var(--padding-large) auto;
  padding: var(--padding-large);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}

button {
  padding: var(--padding-medium);
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  font-size: var(--font-size-medium);
}

button:hover {
  background-color: var(--secondary-color);
}